---
import { ROUTES } from '../../lib/routes';
const dest = ROUTES.works;
---
<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content={`0;url=${dest}`}>
  <link rel="canonical" href={dest}>
  <title>Redirecting to Works...</title>
</head>
<body><p>Redirecting to <a href={dest}>Works</a>...</p></body>
</html>
